body {
	background-image: url("../images/StevenUniverse-background.jpg");
  color: white;
}

h1 {
	text-align:center;
    color: white;
}

h2 {
	text-indent:20%;
    color: white;
}

h3 {
	text-indent:10%;
    color: white;
}
p{
    color: white;
		font-size: 24px;
}

#crystalImages img {
	display: inline-block;
 height : 120px;
 width : 120px;
 margin: 25px;
}
